__pycache__/
*.py[cod]
*$py.class

*.pyc
*.pyo
*.pyd

build/
dist/
*.egg-info/


venv/
.venv/
env/
ENV/


*.db
*.sqlite
*.sqlite3

events.db


data/*.jsonl
data/*.json


runs/
output/
predictions/

*.avi


*.pt
*.pth
*.onnx


CCTV Footage/

resources/*.csv
resources/store_layout.json


.pytest_cache/
.coverage
htmlcov/


.vscode/
.idea/


.DS_Store
Thumbs.db
desktop.ini


*.log


.ipynb_checkpoints/


.streamlit/secrets.toml


*.tmp
*.bak